@import "../../app.scss";


.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100px;

  @include mobile {
    position: relative;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: white;
    color: white;
    
    @include mobile {
      display: flex;
    }
    
    .bg {
      background: rgba(17, 17, 50, 0.4);
      z-index: 999;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 400px;
      
      @include mobile {
        width: 200px;
      }
  
      .links {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-transform: capitalize;
  
        a {
          font-size: 40px;
  
          @include mobile {
            font-size: 20px;
          }
        }
      }
    }
  
    button {
      z-index: 999;
      position: fixed;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: fixed;
      top: 25px;
      left: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .wrapper {
    // background-color: red;
    height: 80px;
    backdrop-filter: blur(0.4rem);
    background: rgba(17, 17, 50, 0.4);
  }

  .container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      display: none;
      padding: 20px;
    }

    span {
      font-size: 2rem;
      font-weight: bold;
    }

    .links {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-transform: capitalize;

      a {
        font-size: 1.2rem;

        @include mobile {
          font-size: 20px;
        }
      }
    }

    .social {
      display: flex;
      font-size: 2rem;
    }
  }
}